{% verbatim %}
	
<div class="modal fade" id="{{vm.uid}}">
	<div class="modal-dialog modal-dialog-scrollable modal-lg {{vm.size}}">
		<div class="modal-content">
{% endverbatim %}
			<div class="modal-header">
				<h5 class="modal-title">Register Ulang</h5>
			</div>

			<div class="modal-body ui-front">
				<div class="row">
					<div class="col-md-6">
						<table class="custom-table">
							
						</table>
					</div>	
				</div>
			</div>

			<div class="modal-footer">
				<button class="btn btn-primary" btn-save-to-ctrl="dosen_pa_id" target="mahasiswa_bimbingan" data-bs-dismiss="modal">Submit</button>
				<button class="btn" data-bs-dismiss="modal">Close</button>
			</div>

		</div>
	</div>
</div>