{% extends "structure/detail.twig" %}

{% block button %}

  <a class="btn btn-sm btn-success" ui-sref="mata_kuliah_form({dataId: vm.data.id})"><i class="fa fa-edit"></i> Edit</a>
  <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> Delete</button>

{% endblock %}

{% block content %}

	<div class="row">
		<div class="col-md-6">
			<table class="custom-table">
				{% include 'components/preview-text.twig' with {'name': 'kode', 'label': 'Kode'} %}
				{% include 'components/preview-text.twig' with {'name': 'nama', 'label': 'Nama'} %}
				{% include 'components/preview-text.twig' with {'name': 'sks', 'label': 'SKS'} %}
			</table>
		</div>

		<div class="col-md-6">
			<table class="custom-table">
				{% include 'components/checkbox.twig' with {'name': 't', 'label': 'Teori'} %}
				{% include 'components/checkbox.twig' with {'name': 'p', 'label': 'Praktek'} %}
				{% include 'components/checkbox.twig' with {'name': 'k', 'label': 'SKS'} %}
			</table>
		</div>

		<hr>

		<div class="col-md-6">
			<table class="custom-table">
				{% include 'components/preview-text.twig' with {'name': 'keterangan', 'label': 'Keterangan'} %}
			</table>
		</div>
	</div>

{% endblock %}
