{% extends "structure/detail.twig" %}

{% block button %}

  <a class="btn btn-sm btn-success" ui-sref="setup_paket_form({dataId: vm.data.id})"><i class="fa fa-edit"></i> Edit</a>
  {# <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> Delete</button> #}

  <div class="float-end">
    {% verbatim %}
      <button class="btn btn-primary" ng-click="vm.buatTagihan()">Generate Tagihan</button>
      <button class="btn btn-primary" ui-sref="setup_paket_tagihan({dataId: vm.data.id})">Lihat Tagihan</button>
    {% endverbatim %}
  </div>

{% endblock %}

{% block content %}

	<div class="row">
		<div class="col-md-6">
			<table class="custom-table">
				{% include 'components/preview-text.twig' with {'name': 'semester.nama', 'label': 'semester'} %}
				{% include 'components/preview-text.twig' with {'name': 'nominal', 'label': 'Nominal'} %}
			</table>
		</div>
	</div>

	<ul class="nav nav-tabs mt-5">
		<li class="nav-item">
        	<a class="nav-link active" data-bs-toggle="list" href="#pembiayaan">Pembiayaan</a>
        </li>
    </ul>

    <div class="tab-content text-justify">
    	<div class="tab-pane fade show active" id="pembiayaan">

    		<div class="row mt-3">
    			<div class="col-md-12">

        			<table class="table">

						<thead>
							<th>Kode</th>
							<th>Nama</th>
							<th>Nominal</th>
						</thead>

						<tbody>
							<tr ng-repeat="col in vm.data.paket_register_ulang_item track by $index" ng-if="vm.data.paket_register_ulang_item && vm.data.paket_register_ulang_item.length != 0">
								<td ng-bind="col.item.kode || '-'"></td>
								<td ng-bind="col.item.nama || '-'"></td>
								<td ng-bind="col.item.nominal || '-'"></td>
							</tr>
							<tr ng-if="!vm.data.paket_register_ulang_item || vm.data.paket_register_ulang_item.length == 0">
								<td  class="text-center" colspan="5">Belum ada data</td>
							</tr>
						</tbody>

					</table>
        		
        		</div>
    		</div>
    	</div>
    </div>

{% endblock %}
