{% extends "structure/detail.twig" %}

{% block button %}

  <a class="btn btn-sm btn-success" ui-sref="karyawan_form({dataId: vm.data.id})"><i class="fa fa-edit"></i> Edit</a>
  <!-- <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> Delete</button> -->

  {# {% include 'widget/nextprev.twig' %} #}

{% endblock %}

{% block content %}

	<div class="row">
			<div class="col-md-6">
				<table class="custom-table">
					{% include 'components/preview-text.twig' with {'name': 'ni', 'label': 'NIDN/NIP'} %}
					{% include 'components/preview-text.twig' with {'name': 'orang.nama', 'label': 'Nama'} %}
				</table>
			</div>
			
			<div class="col-md-6">
				<table class="custom-table">
						<tr>
							<td>
								<div class="text-muted font-semibold">Jenis Karyawan</div>
							</td>
							<td>
								<span ng-repeat="role in vm.data.orang.user.role" class="badge bg-primary font-extrabold me-1" ng-bind="role.nama || '-'"></span>
							</td>
						</tr>
				</table>
			</div>
		</div>

		<ul class="nav nav-tabs mt-5">
			<li class="nav-item">
      	<a class="nav-link active" data-bs-toggle="list" href="#pribadi">Data Pribadi</a>
      </li>
			<li class="nav-item">
      	<a class="nav-link" data-bs-toggle="list" href="#user">User</a>
      </li>
    </ul>

        <div class="tab-content text-justify">
        	<div class="tab-pane fade show active" id="pribadi">
        		<div class="row mt-3">
        			<div class="col-md-6">
	        			<table class="custom-table">
						{% include 'components/preview-text.twig' with {'name': 'orang.nik', 'label': 'NIK'} %}
						{% include 'components/preview-text.twig' with {'name': 'orang.tempat_lahir', 'label': 'Tempat Lahir'} %}
						{% include 'components/preview-text.twig' with {'name': 'orang.tanggal_lahir', 'label': 'Tanggal Lahir'} %}
						{% include 'components/preview-text.twig' with {'name': 'orang.jenis_kelamin', 'label': 'Jenis Kelamin', 'option': 'orang.option.jenis_kelamin'} %}
						{% include 'components/preview-text.twig' with {'name': 'orang.agama.nama', 'label': 'Agama'} %}
	        			</table>
	        		</div>

	        		<div class="col-md-6">
	        			<table class="custom-table">
							{% include 'components/preview-text.twig' with {'name': 'orang.alamat', 'label': 'Alamat'} %}
							{% include 'components/preview-text.twig' with {'name': 'orang.email', 'label': 'Email'} %}
							{% include 'components/preview-text.twig' with {'name': 'orang.no_hp', 'label': 'No. HP'} %}
	        			</table>
	        		</div>
        		</div>
        	</div>

        	<div class="tab-pane fade" id="user">
        		<div class="row mt-3">
        			<div class="col-md-6">
        				{% include 'components/preview-text.twig' with {'name': 'orang.user.username', 'label': 'Username'} %}
        				{% include 'components/preview-text.twig' with {'name': 'orang.user.unenpass', 'label': 'Password'} %}
	        		</div>
        		</div>
        	</div>
        </div>

{% endblock %}
