{% extends 'structure/form.twig' %}


{% block content %}
		
		<div class="row">
			<div class="col-md-6">
				<table class="custom-table">
					{% include 'components/input.twig' with {'name': 'ni', 'label': 'NIDN/NIP'} %}
					{% include 'components/input.twig' with {'name': 'orang.nama', 'label': 'Nama'} %}
				</table>
			</div>
			
			<div class="col-md-6">
				<table class="custom-table">
						{% include 'components/radio.twig' with {'name': 'jenis_karyawan', 'label': 'Jenis Karyawan', 'option': 'option.jenis_karyawan'} %}
				</table>
			</div>
		</div>

		<ul class="nav nav-tabs mt-5">
			<li class="nav-item">
            	<a class="nav-link active" data-bs-toggle="list" href="#pribadi">Data Pribadi</a>
            </li>
        </ul>

        <div class="tab-content text-justify">
        	<div class="tab-pane fade show active" id="pribadi">
        		<div class="row mt-3">
        			<div class="col-md-6">
	        			<table class="custom-table">
						{% include 'components/input.twig' with {'name': 'orang.nik', 'label': 'NIK'} %}
						{% include 'components/input.twig' with {'name': 'orang.tempat_lahir', 'label': 'Tempat Lahir'} %}
						{% include 'components/date-picker.twig' with {'name': 'orang.tanggal_lahir', 'label': 'Tanggal Lahir'} %}
						{% include 'components/radio.twig' with {'name': 'orang.jenis_kelamin', 'label': 'Jenis Kelamin', 'option': 'orang.option.jenis_kelamin'} %}
						{% include 'components/select.twig' with {'name': 'orang.agama_id', 'label': 'Agama', 'option': 'orang.selection.agama', 'label_selection': 'nama'} %}
	        			</table>
	        		</div>

	        		<div class="col-md-6">
	        			<table class="custom-table">
							{% include 'components/textarea.twig' with {'name': 'orang.alamat', 'label': 'Alamat'} %}
							{% include 'components/input.twig' with {'name': 'orang.email', 'label': 'Email'} %}
							{% include 'components/input.twig' with {'name': 'orang.no_hp', 'label': 'No. HP'} %}
	        			</table>
	        		</div>
        		</div>
        	</div>
        </div>

{% endblock %}