{% extends "root/base.twig" %}

{% block title %}Lupa Password{% endblock %}


{% block content %}

	<div class="col-12 text-center">
		<form class="form-login" action="/lupa/password/submit" method="POST">
			<div class="shadow bg-light">
				<div class="title-login mb-3">Lupa Password</div>
				<div class="p-3">
					<div class="form-group text-left">
						<label>Email</label>
						<input type="text" name="email" class="form-control">
					</div>
					<button class="btn btn-block btn-sm text-white bg-template">Lupa Password</button>
				</div>
			</div>
			<div class="lupa-password">
				<a href="/login">Login</a>
			</div>
		</form>
	</div>

{% endblock %}