{% extends "root/base.twig" %}

{% block title %}Lupa Password Gagal{% endblock %}


{% block content %}

	<div class="shadow col-12 p-3 bg-light" style="margin-top: 50px;">
		<center><img src="/public/assets/images/failed-icon-7.jpg" class="w-25"></center>
		<h4 class="text-center mb-3">Lupa Password Gagal</h4>
		<h5 class="text-center">
			Maaf, email anda tidak ditemukan.
		</h5>
	</div>

{% endblock %}