<!DOCTYPE html>
<html>
<head>
	<title>SIA | Register</title>

	<!-- style -->
	<link href="/public/assets/libs/css/bootstrap.min.css" rel="stylesheet">
	<link href="/public/assets/libs/jquery.steps.css" rel="stylesheet">
	<link href="/public/assets/libs/fileinput.min.css" rel="stylesheet">
	<link href="/public/assets/css/font-awesome.min.css" rel="stylesheet">
	<link href="/public/assets/css/register.css" rel="stylesheet">

	<!-- script -->
	<script src="/public/assets/jquery-1.11.1.min.js" defer="true"></script>
	<script src="/public/assets/libs/js/bootstrap.min.js" defer="true"></script>
	<script src="/public/assets/libs/jquery.steps.min.js" defer="true"></script>
	<script src="/public/assets/libs/bootstrap-fileselect.min.js" defer="true"></script>
	<script src="/public/assets/js/register.js" defer="true"></script>

</head>
<body>

	<div class="container-fluid p-0">
		
		<nav class="navbar navbar-expand-lg navbar-dark align-items-end shadow" style="background: #00a85a">
			<a class="navbar-brand" href="#">
				<div class="d-flex align-items-center">
					<img src="/public/assets/images/bethesda.png" class="w-25">
					<div>
						<h1>AKPER</h1>
						<h5>Bethesda Serukam Kab. Bengkayang</h5>
					</div>
				</div>
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/register">Pendaftaran Mahasiswa Baru <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/login">Login</a>
					</li>
				</ul>
			</div>
		</nav>

		<form class="d-flex justify-content-center" style="margin-top: 25px;" action="/register/submit" method="POST" enctype="multipart/form-data">

			<div class="col-sm-6 p-3 m-3">
				<div id="wizard">
				    <h1>Data Diri</h1>
				    <div>
					    <div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="nik">NIK</label>
									<input type="text" name="nik" id="nik" class="form-control auto-update">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="nama">Nama Lengkap</label>
									<input type="text" name="nama" id="nama" class="form-control auto-update">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="tempat_lahir">Tempat Lahir</label>
									<input type="text" name="tempat_lahir" id="tempat_lahir" class="form-control auto-update">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="tanggal_lahir">Tanggal Lahir</label>
									<input type="text" name="tanggal_lahir" id="tanggal_lahir" class="form-control auto-update">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="jenis_kelamin">Jenis Kelamin</label>
										{% for key, value in option['jenis_kelamin'] %}
										    <div>
												<label class="form-check">
													<input class="form-check-input" type="radio" name="jenis_kelamin" value="{{ key }}">
													<span class="form-check-label">{{ value }}</span>
												</label>
											</div>
										{% endfor %}
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="alamat">Alamat</label>
									<textarea class="form-control" name="alamat"></textarea>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="alamat">Agama</label>
									<select class="form-control" name="agama_id">
										<option value=""></option>
										{% for value in selection['agama'] %}
										    <option value="{{ value.id }}">{{ value.nama }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="email">Email</label>
									<input type="text" name="email" id="email" class="form-control auto-update">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="no_hp">Nomor Handphone</label>
									<input type="text" name="no_hp" id="no_hp" class="form-control auto-update">
								</div>
							</div>
					    </div>
				    </div>

				    <h1>Data Orang Tua</h1>
				    <div >
					    <div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="nama_ayah">Nama Ayah</label>
									<input type="text" name="nama_ayah" id="nama_ayah" class="form-control">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="pekerjaan_ayah">Pekerjaan Ayah</label>
									<input type="text" name="pekerjaan_ayah" id="pekerjaan_ayah" class="form-control">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="nama_ibu">Nama Ibu</label>
									<input type="text" name="nama_ibu" id="nama_ibu" class="form-control">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="pekerjaan_ibu">Pekerjaan Ibu</label>
									<input type="text" name="pekerjaan_ibu" id="pekerjaan_ibu" class="form-control">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="penghasilan_ortu">Penghasilan Orang Tua /Bulan</label>
									<input type="text" name="penghasilan_ortu" id="penghasilan_ortu" class="form-control">
								</div>
							</div>
					    </div>
				    </div>

				    <h1>Pendidikan</h1>
				    <div>
					    <div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="asal_sekolah">Asal Sekolah</label>
									<input type="text" name="asal_sekolah" id="asal_sekolah" class="form-control">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="jurusan">Jurusan</label>
									<input type="text" name="jurusan" id="jurusan" class="form-control">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="tinggi_badan">Tinggi Badan</label>
									<input type="text" name="tinggi_badan" id="tinggi_badan" class="form-control">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="berat_badan">Berat Badan</label>
									<input type="text" name="berat_badan" id="berat_badan" class="form-control">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="pasfoto">Pasphoto 3x4</label>
									<input type="file" name="pasfoto" id="pasfoto">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="ijazah">Ijazah/SKL</label>
									<input type="file" name="ijazah" id="ijazah">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="ktp">KTP</label>
									<input type="file" name="ktp" id="ktp">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="surket_menikah">Surket Belum Menikah</label>
									<input type="file" name="surket_menikah" id="surket_menikah">
								</div>
							</div>
					    </div>
				    </div>

				    <h1>Persetujuan</h1>
				    <div>
					    <div class="row">
					    	<div class="col-sm-6">
								<div class="form-group">
									<label for="nik_text">NIK</label>
									<input type="text" id="nik_text" class="form-control" readonly="true">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="nama_text">Nama Lengkap</label>
									<input type="text" id="nama_text" class="form-control" readonly="true">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="tempat_lahir_text">Tempat Lahir</label>
									<input type="text" id="tempat_lahir_text" class="form-control" readonly="true">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="tanggal_lahir_text">Tanggal Lahir</label>
									<input type="text" id="tanggal_lahir_text" class="form-control" readonly="true">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="email_text">Email</label>
									<input type="text" id="email_text" class="form-control" readonly="true">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="no_hp_text">Nomor Handphone</label>
									<input type="text" id="no_hp_text" class="form-control" readonly="true">
								</div>
							</div>
					    	<div class="col-sm-12">
					    		<label>
					    			<input type="checkbox" name="pernyataan">
					    			Dengan ini saya menyatakan bahwa data yang saya isi adalah benar dan sesuai dengan dokumen terkait dan saya memberikan data atas persetujuan saya pribadi
					    		</label>
					    	</div>
					    </div>
				    </div>

				    <h1>Pembayaran</h1>
				    <div>
				    	<div class="pembayaran-container">
				    		<h3 class="mb-5 text-center">Pembayaran Menggunakan Transfer Bank</h3>
				    		<ul>
				    			<li>
				    				Pilih Transaksi Lainnya > Transfer > Ke Rek BCA Virtual Account.
				    			</li>
				    			<li>
				    				Masukkan nomor Virtual Account <span class="copyable">18397123921</span> dan pilih Benar.
				    			</li>
				    			<li>
				    				Masukkan jumlah sebesar Rp. 100.000
				    			</li>
				    			<li>
				    				Periksa data yang tertera di layar. Pastikan Merchant adalah SIA AKPER. Jika benar, pilih Ya.
				    			</li>
				    			<li>
				    				Screenshot bukti pembayaran dan Upload bukti pembayaran dibawah ini.
				    			</li>
				    		</ul>
				    		<div class="form-group">
				    			<label>Bukti Pembayaran</label>
				    			<input type="file" name="bukti_pembayaran" class="form-control">
				    		</div>
				    	</div>
				    </div>
				</div>
			</div>

		</form>

	</div>

</body>
</html>