{% extends "root/base.twig" %}

{% block title %}Reset Password{% endblock %}


{% block content %}

	<div class="col-12 text-center">
		<form class="form-login" action="/reset/password/submit" method="POST">
			<div class="shadow bg-light">
				<div class="title-login mb-3">Reset Password</div>
				<div class="p-3">
					<div class="form-group text-left">
						<label>Password Baru</label>
						<input type="password" name="password" class="form-control">
						<input type="hidden" name="token" value="{{ token }}">
					</div>
					<button class="btn btn-block btn-sm text-white bg-template">Reset Password</button>
				</div>
			</div>
			<div class="lupa-password">
				<a href="/login">Login</a>
			</div>
		</form>
	</div>

{% endblock %}