{% extends 'modal/template.twig' %}

{% block title %}
	<h5 class="modal-title">Atur Paket</h5>
{% endblock %}


{% block content %}

	<div class="row">
		<div class="col-md-6">
			<table class="custom-table">
				{% include 'components/preview-text.twig' with {'name': 'nama', 'label': 'Nama', 'prefix': 'data'} %}
				{% include 'components/preview-text.twig' with {'name': 'tahun', 'label': 'Tahun', 'prefix': 'data'} %}
				{% include 'components/autocomplete.twig' with {'name': 'paket_id', 'label': 'Paket Biaya Registrasi', 'table': 'paket', 'normal_search': true, 'prefix': 'data', 'data': 'paket'} %}
			</table>
		</div>
	</div>

	<ul class="nav nav-tabs mt-5">
		<li class="nav-item">
        	<a class="nav-link active" data-bs-toggle="list" href="#pembiayaan">Pembiayaan</a>
        </li>
    </ul>

    <div class="tab-content text-justify">
    	<div class="tab-pane fade show active" id="pembiayaan">

    		<div class="row mt-3">
    			<div class="col-md-12">

        			<table class="table">

						<thead>
							<th>Kode</th>
							<th>Nama</th>
							<th>Nominal</th>
							<th></th>
						</thead>

						<tbody>
							<tr ng-repeat="col in data.paket.item track by $index" ng-if="data.paket.item && data.paket.item.length != 0">
								<td ng-bind="col.kode || '-'"></td>
								<td ng-bind="col.nama || '-'"></td>
								<td ng-bind="col.nominal || '-'"></td>
							</tr>
							<tr ng-if="!data.paket.item || data.paket.item.length == 0">
								<td  class="text-center" colspan="5">Belum ada data</td>
							</tr>
						</tbody>

					</table>
					<small>Total data: <b ng-bind="data.paket.item.length || 0"></b></small>
        		
        		</div>
    		</div>
    	</div>
    </div>

{% endblock %}

{% block footer %}
	{% verbatim %}
		<button class="btn" data-bs-dismiss="modal">Close</button>
		<button class="btn btn-primary" ng-click="aturPaket()">Simpan</button>
	{% endverbatim %}
{% endblock %}