{% extends 'modal/template.twig' %}

{% block title %}
	<h5 class="modal-title">Atur Paket</h5>
{% endblock %}


{% block content %}

	<div class="modal-body ui-front" style="overflow:  visible;">
		<div class="row" ng-if="cicilanAkhir">
			<div class="col-12">
				<div class="alert alert-info">
					Mohon hubungi bagian keuangan jika tidak dapat melunaskan sisa hutang.
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<table class="custom-table">
					{% include 'components/preview-text.twig' with {'name': 'kode', 'label': 'Kode', 'prefix': 'data'} %}
					{% include 'components/preview-text.twig' with {'name': 'orang.nama', 'label': 'Nama', 'prefix': 'data'} %}
				</table>
			</div>
			<div class="col-md-6">
				<table class="custom-table">
					{% include 'components/preview-number.twig' with {'name': 'nominal', 'label': 'Nominal', 'prefix': 'data'} %}
					{% include 'components/preview-number.twig' with {'name': 'sisa_hutang', 'label': 'Sisa Hutang', 'prefix': 'data'} %}
				</table>
			</div>
		</div>

		<hr>

		<div class="row">
			<div class="col-md-12">
				<table class="custom-table">
	              {% include 'components/input-file.twig' with {'name': 'file', 'label': 'Upload Bukti Pembayaran'} %}
	              {% include 'components/input-number.twig' with {'name': 'nominal', 'label': 'Nominal'} %}
				</table>
			</div>
		</div>

		<ul class="nav nav-tabs mt-5">
			<li class="nav-item">
	        	<a class="nav-link active" data-bs-toggle="list" href="#detail">Detail Tagihan</a>
	        </li>
	    </ul>

	    <div class="tab-content text-justify">
	    	<div class="tab-pane fade show active" id="detail">

	    		<div class="row mt-3">
	    			<div class="col-md-12">
	        			<table class="table">
							<thead>
								<th>Nama</th>
								{# <th>Biaya Wajib</th> #}
								<th>Total Biaya</th>
							</thead>
							<tbody>
								<tr ng-repeat="col in data.tagihan_item track by $index" ng-if="data.tagihan_item && data.tagihan_item.length != 0">
									<td ng-bind="col.nama || '-'"></td>
									{# <td>
										{% verbatim %}
										    <span widget-number="{{ col.biaya_lunas || 0 }}"></span>
										{% endverbatim %}
									</td> #}
									<td>
										{% verbatim %}
										    <span widget-number="{{ col.nominal || 0 }}"></span>
										{% endverbatim %}
									</td>
								</tr>
								<tr ng-if="!data.tagihan_item || data.tagihan_item.length == 0">
									<td  class="text-center" colspan="3">Belum ada data</td>
								</tr>
							</tbody>
						</table>
						<small>Total data: <b ng-bind="data.tagihan_item.length || 0"></b></small>
	        		</div>
	    		</div>

	    	</div>
	    </div>
    </div>

{% endblock %}

{% block footer %}
	{% verbatim %}
		<button class="btn" data-bs-dismiss="modal">Close</button>
		<button class="btn btn-primary" ng-click="upload()">Bayar</button>
	{% endverbatim %}
{% endblock %}