{% extends 'modal/template.twig' %}

{% block title %}
	<h5 class="modal-title">Kode Pembayaran</h5>
{% endblock %}


{% block content %}

	<div class="alert alert-info">Harap masukkan <b>Kode Pembayaran</b> terlebih dahulu</div>

	<div class="row">
		<div class="col-md-6">
			<table class="custom-table">
				{% include 'components/preview-text.twig' with {'name': 'nim', 'label': 'NIM', 'prefix': 'data'} %}
				{% include 'components/preview-text.twig' with {'name': 'orang.nama', 'label': 'Nama', 'prefix': 'data'} %}
			</table>
		</div>
		<div class="col-md-6">
			<table class="custom-table">
				{% include 'components/preview-text.twig' with {'name': 'semester.nama', 'label': 'Semester', 'prefix': 'data'} %}
				{% include 'components/preview-text.twig' with {'name': 'tahun_ajaran.nama', 'label': 'Tahun Ajaran', 'prefix': 'data'} %}
			</table>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col-md-6">
			<table class="custom-table">
				{% include 'components/input.twig' with {'name': 'kode_pembayaran', 'label': 'Kode Pembayaran'} %}
			</table>
		</div>	
	</div>

{% endblock %}

{% block footer %}
	{% verbatim %}
		<button class="btn" data-bs-dismiss="modal">Tutup</button>
		<button class="btn btn-primary" ng-click="lanjutkan()">Lanjutkan</button>
	{% endverbatim %}
{% endblock %}