{% extends 'modal/template.twig' %}

{% block title %}
	<h5 class="modal-title">Tagihan Semester</h5>
{% endblock %}


{% block content %}

	<div class="modal-body ui-front">
		<div class="row">
			<div class="col-md-6">
				<table class="custom-table">
					{% include 'components/preview-text.twig' with {'name': 'nama', 'label': 'Nama', 'prefix': 'data'} %}
				</table>
			</div>

			<div class="col-md-6">
				<table class="custom-table">
					{% include 'components/preview-number.twig' with {'name': 'biaya_lunas', 'label': 'biaya_lunas', 'prefix': 'data'} %}
					{% include 'components/preview-number.twig' with {'name': 'total_biaya', 'label': 'total_biaya', 'prefix': 'data'} %}
				</table>
			</div>
		</div>

		<hr>

		
		<div class="mt-3">
			<table class="table">
				<thead>
					<th>NIM</th>
					<th>Nama</th>
					<th>Semester</th>
					<th>Tahun Masuk</th>
				</thead>
				<tbody>
					<tr ng-repeat="mahasiswa in data_mahasiswa">
						<td ng-bind="mahasiswa.nim"></td>
						<td ng-bind="mahasiswa.orang.nama"></td>
						<td ng-bind="mahasiswa.semester.nama"></td>
						<td ng-bind="mahasiswa.tahun_masuk"></td>
					</tr>
					<tr ng-if="!data_mahasiswa || data_mahasiswa.length == 0">
						<td class="text-center" colspan="4"> Tidak ada data mahasiswa</td>
					</tr>
				</tbody>
			</table>
			<small>Total data: <b ng-bind="data_mahasiswa.length || 0"></b></small>
		</div>
	</div>

{% endblock %}

{% block footer %}
	<button class="btn" data-bs-dismiss="modal">Close</button>
	<button class="btn btn-primary" ng-click="buatTagihan()" ng-disabled="data_mahasiswa.length == 0">Buat Tagihan</button>
{% endblock %}