{% extends 'modal/template.twig' %}

{% block title %}
	<h5 class="modal-title">Tambah Mahasiswa Bimbingan</h5>
{% endblock %}


{% block content %}

{% verbatim %}
    <div class="modal-body ui-front" style="{{ no_scroll ? 'overflow:  visible;' : ''  }}">
{% endverbatim %}

		<div class="row">
			<div class="col-md-6">
				<table class="custom-table">
					{% include 'components/autocomplete.twig' with {'name': 'mahasiswa_id', 'label': 'Nama Mahasiswa', 'table': 'mahasiswa', 'data': 'mahasiswa'} %}
				</table>
			</div>	
		</div>
	</div>

{% endblock %}

{% block footer %}
	{% verbatim %}
		<button class="btn" data-bs-dismiss="modal">Close</button>
		<button class="btn btn-primary" ng-click="addMahasiswa()">Submit</button>
	{% endverbatim %}
{% endblock %}