{% extends 'modal/template.twig' %}

{% block title %}
	<h5 class="modal-title">Tambah Paket</h5>
{% endblock %}


{% block content %}

{% verbatim %}
    <div class="modal-body ui-front" style="{{ no_scroll ? 'overflow:  visible;' : ''  }}">
{% endverbatim %}

		<div class="row">
			<div class="col-md-6">
				<table class="custom-table">
					{% include 'components/autocomplete.twig' with {'name': 'paket_id', 'label': 'Paket', 'table': 'paket', 'normal_search': true, 'data': 'paket'} %}
				</table>
			</div>	
		</div>
	</div>

{% endblock %}

{% block footer %}
	{% verbatim %}
		<button class="btn" data-bs-dismiss="modal">Close</button>
		<button class="btn btn-primary" ng-click="addPaket()">Tambah</button>
	{% endverbatim %}
{% endblock %}