<div class="modal fade">
	<div class="modal-dialog modal-dialog-scrollable modal-lg">
		<div class="modal-content">

			<div class="modal-header">
				{% block title %}{% endblock %}
			</div>
			<div class="modal-body">
				{% block content %}{% endblock %}
			</div>

			<div class="modal-footer">
				{% block footer %}{% endblock %}
			</div>
		</div>
	</div>
</div>
