<div class="modal fade">
	<div class="modal-dialog modal-dialog-scrollable modal-lg">

	{% verbatim %}
    	<div class="modal-content" style="{{ no_scroll ? 'overflow:  visible;' : ''  }}">
	{% endverbatim %}

			<div class="modal-header">
				{% block title %}{% endblock %}
			</div>

		{% verbatim %}
		    <div class="modal-body" style="{{ no_scroll ? 'overflow:  visible;' : ''  }}">
		{% endverbatim %}
				{% block content %}{% endblock %}
			</div>

			<div class="modal-footer">
				{% block footer %}{% endblock %}
			</div>
		</div>
	</div>
</div>
