{% extends "structure/detail.twig" %}

{% block button %}

  <a class="btn btn-sm btn-success" ui-sref="nilai_form({dataId: vm.data.id})"><i class="fa fa-edit"></i> Edit</a>
  <!-- <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> Delete</button> --->

  {% include 'widget/nextprev.twig' %}

{% endblock %}

{% block content %}

	<table class="custom-table">
		{% include 'components/preview-text.twig' with {'name': 'nama', 'label': 'Nama'} %}
	</table>

{% endblock %}
