{% extends "structure/detail.twig" %}


{% block button %}
	<div class="float-end">
		{% verbatim %}
			<!-- <button class="btn btn-primary" ng-click="vm.regUlang()" ng-if="vm.data.reg_ulang">Register Ulang</button> !-->
			<button class="btn btn-primary" ng-click="vm.pengajuanKrs()" ng-if="vm.data.ajukan_sks">Pengajuan KRS</button>
		{% endverbatim %}
	</div>
{% endblock %}


{% block content %}

	<div class="row">
			<div class="col-md-6">
				<table class="custom-table">
					{% include 'components/preview-text.twig' with {'name': 'nim', 'label': 'NIM'} %}
					{% include 'components/preview-text.twig' with {'name': 'orang.nama', 'label': 'Nama'} %}
				</table>
			</div>
			
			<div class="col-md-6">
				<table class="custom-table">
					{% include 'components/preview-text.twig' with {'name': 'semester.nama', 'label': 'Semester'} %}
					{% include 'components/preview-text.twig' with {'name': 'tahun_ajaran.nama', 'label': 'Tahun Ajaran'} %}
					{% include 'components/preview-text.twig' with {'name': 'tahun_masuk', 'label': 'Tahun Masuk'} %}
				</table>
			</div>
		</div>

		<ul class="nav nav-tabs mt-5">
			<li class="nav-item">
            	<a class="nav-link active" data-bs-toggle="list" href="#pengajuan">Pengajuan KS</a>
            </li>
			<li class="nav-item">
            	<a class="nav-link" data-bs-toggle="list" href="#riwayat">Riwayat Belajar</a>
            </li>
			<li class="nav-item">
            	<a class="nav-link" data-bs-toggle="list" href="#tagihan">Tagihan</a>
            </li>
			<li class="nav-item">
            	<a class="nav-link" data-bs-toggle="list" href="#pribadi">Data Pribadi</a>
            </li>
			<li class="nav-item">
            	<a class="nav-link" data-bs-toggle="list" href="#orangtua">Orang Tua</a>
            </li>
            <li class="nav-item">
            	<a class="nav-link" data-bs-toggle="list" href="#berkas">Berkas</a>
            </li>
            <li class="nav-item">
            	<a class="nav-link" data-bs-toggle="list" href="#lainnya">Lainnya</a>
            </li>
        </ul>

        <div class="tab-content text-justify">
        	<div class="tab-pane fade show active" id="pengajuan">
        		<div class="row mt-3">
        			<div class="col-md-12">
						{% 
							include 'components/table.twig' 
							with {
								'headers': ['Tahun Ajaran', 'Semester', 'Status'], 
								'data_value': 'pengajuan_ks', 
								'cols': ['tahun_ajaran.nama', 'semester.nama', 'status']
							}
						%}
	        		</div>
        		</div>
        	</div>
        	<div class="tab-pane fade show" id="riwayat">
        		<div class="row mt-3">
        			<div class="col-md-12">
						{% 
							include 'components/table.twig' 
							with {
								'headers': ['Semester', 'Total SKS'], 
								'data_value': 'riwayat_belajar', 
								'cols': ['semester.nama', 'total_sks']
							}
						%}
	        		</div>
        		</div>
        	</div>
        	<div class="tab-pane fade show" id="tagihan">
        		<div class="row mt-3">
        			<div class="col-md-12">
	        			<table class="table">
							<thead>
								<th>Tanggal</th>
								<th>Nominal</th>
								<th>Kode Pembayaran</th>
								<th>Status</th>
								<th></th>
							</thead>

							<tbody>
								<tr ng-repeat="col in vm.data.tagihan" ng-if="vm.data.tagihan && vm.data.tagihan.length != 0">
									<td ng-bind="col.tanggal || '-'"></td>
									<td ng-bind="col.nominal || '-'"></td>
									<td ng-bind="col.kode_pembayaran || '-'"></td>
									<td ng-bind="col.status || '-'"></td>
									<td>
										<button class="btn btn-primary" ng-if="col.status == 'proses'" ng-click="vm.bayarTagihan(col)">Bayar</button>
									</td>
								</tr>
								<tr ng-if="!vm.data.tagihan || vm.data.tagihan.length == 0">
									<td  class="text-center" colspan="4">Belum ada data</td>
								</tr>
							</tbody>
						</table>
	        		</div>
        		</div>
        	</div>
        	<div class="tab-pane fade show" id="pribadi">
        		<div class="row mt-3">
        			<div class="col-md-6">
	        			<table class="custom-table">
						{% include 'components/preview-text.twig' with {'name': 'orang.nik', 'label': 'NIK'} %}
						{% include 'components/preview-text.twig' with {'name': 'orang.tempat_lahir', 'label': 'Tempat Lahir'} %}
						{% include 'components/preview-text.twig' with {'name': 'orang.tanggal_lahir', 'label': 'Tanggal Lahir'} %}
						{% include 'components/preview-text.twig' with {'name': 'orang.jenis_kelamin.label', 'label': 'Jenis Kelamin'} %}
						{% include 'components/preview-text.twig' with {'name': 'orang.agama.nama', 'label': 'Agama'} %}
	        			</table>
	        		</div>

	        		<div class="col-md-6">
	        			<table class="custom-table">
							{% include 'components/preview-text.twig' with {'name': 'orang.alamat', 'label': 'Alamat'} %}
							{% include 'components/preview-text.twig' with {'name': 'orang.email', 'label': 'Email'} %}
							{% include 'components/preview-text.twig' with {'name': 'orang.no_hp', 'label': 'No. HP'} %}
	        			</table>
	        		</div>
        		</div>
        	</div>
        	<div class="tab-pane fade show" id="orangtua">
        		<div class="row mt-3">
        			<div class="col-md-6">
	        			<table class="custom-table">
							{% include 'components/preview-text.twig' with {'name': 'orang.nama_ayah', 'label': 'Nama Ayah'} %}
							{% include 'components/preview-text.twig' with {'name': 'orang.pekerjaan_ayah', 'label': 'Pekerjaan Ayah'} %}
							{% include 'components/preview-text.twig' with {'name': 'orang.penghasilan_ortu', 'label': 'Penghasilan Orang Tua'} %}
	        			</table>
	        		</div>

	        		<div class="col-md-6">
	        			<table class="custom-table">
							{% include 'components/preview-text.twig' with {'name': 'orang.nama_ibu', 'label': 'Nama Ibu'} %}
							{% include 'components/preview-text.twig' with {'name': 'orang.pekerjaan_ibu', 'label': 'Pekerjaan Ibu'} %}
	        			</table>
	        		</div>
        		</div>
        	</div>
        	<div class="tab-pane fade show" id="berkas">
        		<div class="row mt-3">
        			<div class="col-md-6">
	        			<table class="custom-table">
							{% include 'components/preview-file.twig' with {'name': 'orang.pasfoto', 'label': 'Pasfoto'} %}
							{% include 'components/preview-file.twig' with {'name': 'orang.ijazah', 'label': 'Ijazah/SKL'} %}
							{% include 'components/preview-file.twig' with {'name': 'orang.ktp', 'label': 'KTP'} %}
							{% include 'components/preview-file.twig' with {'name': 'orang.surket_menikah', 'label': 'Surket. Belum Menikah'} %}
	        			</table>
	        		</div>
        		</div>
        	</div>
        	<div class="tab-pane fade show" id="lainnya">
        		<div class="row mt-3">
        			<div class="col-md-6">
	        			<table class="custom-table">
							{% include 'components/preview-text.twig' with {'name': 'orang.asal_sekolah', 'label': 'Asal Sekolah'} %}
							{% include 'components/preview-text.twig' with {'name': 'orang.tinggi_badan', 'label': 'Tinggi Badan'} %}
							{% include 'components/preview-text.twig' with {'name': 'orang.berat_badan', 'label': 'Berat Badan'} %}
	        			</table>
	        		</div>
        		</div>
        	</div>
        </div>

{% endblock %}
