{% extends "structure/table.twig" %}

{% block search %}

	<div class="form-group position-relative has-icon-right">
        <input type="text" class="form-control" ng-model="vm.searchData">
        <div class="form-control-icon" ng-click="vm.search()">
            <i class="fa fa-search"></i>
        </div>
    </div>

{% endblock %}

{% block filter %}

	<div class="d-flex align-items-center">
		<div class="form-group mr-20">
			<select class="form-select" ng-model="vm.tahun_ajaran">
				<option value="">Tahun Ajaran</option>
				<option ng-repeat="ta in vm.option.selection.tahun_ajaran" ng-bind="ta.nama" ng-value="ta.id"></option>
			</select>
		</div>

		<div class="form-group">
			<select class="form-select" ng-model="vm.semester">
				<option value="">Semester</option>
				<option ng-repeat="s in vm.option.selection.semester" ng-bind="s.nama" ng-value="s.id"></option>
			</select>
		</div>
	</div>

{% endblock %}

{% block table %}

	{% verbatim %}

		<thead>
			<tr>
				<th>NIM</th>
				<th>Nama</th>
				<th>Semester</th>
				<th>Tahun Masuk</th>
			</tr>
		</thead>

		<tbody>
			<tr ng-if="!vm.data || vm.data.length == 0">
	          <td colspan="5" class="text-center">Tidak ada data yang tersedia</td>
	        </tr>
	        <tr ng-repeat="data in vm.data" class="clickable" ng-attr-tr_id="{{data.id}}" state_name="mahasiswa_detail" widget-tr="">
	          <td ng-bind="data.nim || '-'"></td>
	          <td ng-bind="data.orang.nama || '-'"></td>
	          <td ng-bind="data.semester.nama || '-'"></td>
	          <td ng-bind="data.tahun_masuk || '-'"></td>
	        </tr>
		</tbody>

	{% endverbatim %}
{% endblock %}