{% extends "structure/detail.twig" %}

{% block content %}
<div class="row mt-3">
	<div class="col-md-12">
		<table class="table">
			<thead>
				<th>Tanggal</th>
				<th>Nominal</th>
				<th>Kode Pembayaran</th>
				<th>Status</th>
				<th></th>
			</thead>

			<tbody>
				<tr ng-repeat="col in vm.data" ng-if="vm.data && vm.data.length != 0">
					<td ng-bind="col.tanggal || '-'"></td>
					<td ng-bind="col.nominal || '-'"></td>
					<td ng-bind="col.kode_pembayaran || '-'"></td>
					<td ng-bind="col.status || '-'"></td>
					<td>
						<button class="btn btn-primary" ng-if="col.status == 'proses'" ng-click="vm.bayarTagihan(col)">Bayar</button>
					</td>
				</tr>
				<tr ng-if="!vm.data || vm.data.length == 0">
					<td  class="text-center" colspan="4">Belum ada data</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock %}