{% extends "structure/detail.twig" %}

{% block button %}

  <a class="btn btn-sm btn-success" ui-sref="tagihan_form({dataId: vm.data.id})" ng-if="vm.data.status == 'draft'"><i class="fa fa-edit"></i> Edit</a>
  <button class="btn btn-sm btn-danger" ng-if="vm.data.status == 'draft'"><i class="fa fa-trash"></i> Delete</button>

  <div class="float-end">
    {% verbatim %}
      <button class="btn btn-primary" widget-update-status="proses" ng-if="vm.data.status == 'draft'">Proses</button>
    {% endverbatim %}
  </div>

{% endblock %}

{% block status %}

  {% verbatim %}
    <button class="btn {{ key == vm.data.status ? 'btn-primary' : ''}}" ng-repeat="(key, status) in vm.option.option.status" ng-bind="status"></button>
  {% endverbatim %}

{% endblock %}

{% block content %}

	<div class="row">
		<div class="col-md-6">
			<table class="custom-table">
				{% include 'components/preview-text.twig' with {'name': 'kode', 'label': 'Kode'} %}
				{% include 'components/preview-text.twig' with {'name': 'orang.nama', 'label': 'Nama'} %}
				{% include 'components/preview-text.twig' with {'name': 'nominal', 'label': 'Nominal'} %}
			</table>
		</div>
	</div>

	<ul class="nav nav-tabs mt-5">
		<li class="nav-item">
    	<a class="nav-link active" data-bs-toggle="list" href="#pembiayaan">Pembiayaan</a>
    </li>
		<li class="nav-item">
    	<a class="nav-link" data-bs-toggle="list" href="#pembayaran" ng-if="vm.data.status != 'draft'">Bukti Pembayaran</a>
    </li>
  </ul>

    <div class="tab-content text-justify">
    	<div class="tab-pane fade show active" id="pembiayaan">

    		<div class="row mt-3">
    			<div class="col-md-12">

    				<table class="table">

							<thead>
								<th>Kode</th>
								<th>Nama</th>
								<th>Nominal</th>
								<th></th>
							</thead>

							<tbody>
								<tr ng-repeat="col in vm.data.tagihan_item track by $index" ng-if="vm.data.tagihan_item && vm.data.tagihan_item.length != 0">
									<td ng-bind="col.kode || '-'"></td>
									<td ng-bind="col.nama || '-'"></td>
									<td ng-bind="col.nominal || '-'"></td>
								</tr>
								<tr ng-if="!vm.data.tagihan_item || vm.data.tagihan_item.length == 0">
									<td  class="text-center" colspan="5">Belum ada data</td>
								</tr>
							</tbody>

						</table>
        		
    			</div>
    		</div>
    	</div>

    	<div class="tab-pane fade show" id="pembayaran" ng-if="vm.data.status != 'draft'">
    		<div class="row mt-3">
    			<div class="col-12">
    				<button class="btn btn-primary" ng-click="vm.tambahPembiayaan()">Upload Bukti Pembayaran</button>
    				<input type="file" ng-model="vm.data.upload_file" multiple="" id="uploadFile" base-sixty-four-input="" style="display: none;">
    			</div>
    		</div>

    		<div class="row mt-3">
    			<div class="col-md-12">

      			<table class="table">

							<thead>
								<th>Nama</th>
							</thead>

							<tbody>
								<tr ng-repeat="col in vm.data.tagihan_bukti_bayar track by $index" ng-if="vm.data.tagihan_bukti_bayar && vm.data.tagihan_bukti_bayar.length != 0">
									<td class="font-extrabold">
										<a href="javascript:void(0)" widget-preview="col.file" ng-bind="col.file.filename || '-'"></a>
									</td>
								</tr>
								<tr ng-if="!vm.data.tagihan_bukti_bayar || vm.data.tagihan_bukti_bayar.length == 0">
									<td  class="text-center" colspan="5">Belum ada data</td>
								</tr>
							</tbody>

						</table>
        		
      		</div>
    		</div>
    	</div>
    </div>

{% endblock %}
