{% extends "structure/table.twig" %}

{% block button %}
	<a ui-sref="tagihan_form({dataId: null})" class="btn btn-success btn-sm">
		<i class="fa fa-plus"></i> Tambah
	</a>
{% endblock %}

{% block filter %}

	<div class="d-flex align-items-center">
		<div class="form-group mr-20">
			<select class="form-select" ng-model="vm.status">
				<option value="">Status</option>
				<option ng-repeat="(key, value) in vm.option.option.status" ng-bind="value" ng-value="key"></option>
			</select>
		</div>
	</div>

{% endblock %}

{% block search %}

	<div class="form-group position-relative has-icon-right">
        <input type="text" class="form-control" ng-model="vm.searchData">
        <div class="form-control-icon" ng-click="vm.search()">
            <i class="fa fa-search"></i>
        </div>
    </div>

{% endblock %}

{% block table %}

	{% verbatim %}

		<thead>
			<tr>
				<th>Kode</th>
				<th>Tanggal</th>
				<th>Nama</th>
				<th>Nominal</th>
				<th>Status</th>
			</tr>
		</thead>

		<tbody>
			<tr ng-if="!vm.data || vm.data.length == 0">
	          <td colspan="5" class="text-center">Tidak ada data yang tersedia</td>
	        </tr>
	        <tr ng-repeat="data in vm.data" class="clickable" ng-attr-tr_id="{{data.id}}" state_name="tagihan_detail" widget-tr="">
	          <td ng-bind="data.kode || '-'"></td>
	          <td ng-bind="data.tanggal || '-'"></td>
	          <td ng-bind="data.orang.nama || '-'"></td>
	          <td ng-bind="data.nominal || '-'"></td>
	          <td ng-bind="data.status_label || '-'"></td>
	        </tr>
		</tbody>

	{% endverbatim %}
{% endblock %}