{% extends 'structure/form.twig' %}


{% block content %}
		
		<div class="row">
			<div class="col-md-6">
				<table class="custom-table">
					{% include 'components/autocomplete.twig' with {'name': 'karyawan_id', 'label': 'Dosen', 'table': 'karyawan', 'data': 'karyawan', 'required': true} %}
				</table>
			</div>
			
			<div class="col-md-6">
				<table class="custom-table">
						{% include 'components/select.twig' with {'name': 'tahun_ajaran_id', 'label': 'Tahun Ajaran', 'option': 'selection.tahun_ajaran', 'label_selection': 'nama', 'required': true} %}
						{% include 'components/select.twig' with {'name': 'semester_id', 'label': 'Semester', 'option': 'selection.semester', 'label_selection': 'nama', 'required': true} %}
				</table>
			</div>
		</div>

{% endblock %}