{% extends "structure/table.twig" %}

{% block button %}
	<a ui-sref="dosen_pa_form({dataId: null})" class="btn btn-success btn-sm">
		<i class="fa fa-plus"></i> Tambah
	</a>
{% endblock %}

{% block filter %}

	<div class="d-flex align-items-center">
		<div class="form-group mr-20">
			<div class="form-check form-switch">
	            <label class="form-check-label" for="status" ng-bind="vm.status_info"></label>
	            <input class="form-check-input" type="checkbox" id="status" ng-model="vm.status" ng-change="vm.statusChanges()">
	        </div>
		</div>

		<div class="form-group mr-20">
			<select class="form-select" ng-model="vm.tahun_ajaran">
				<option value="">Tahun Ajaran</option>
				<option ng-repeat="ta in vm.option.selection.tahun_ajaran" ng-bind="ta.nama" ng-value="ta.id"></option>
			</select>
		</div>

		<div class="form-group">
			<select class="form-select" ng-model="vm.semester">
				<option value="">Semester</option>
				<option ng-repeat="s in vm.option.selection.semester" ng-bind="s.nama" ng-value="s.id"></option>
			</select>
		</div>
	</div>

{% endblock %}

{% block search %}

	<div class="form-group position-relative has-icon-right">
        <input type="text" class="form-control" ng-model="vm.searchData">
        <div class="form-control-icon" ng-click="vm.search()">
            <i class="fa fa-search"></i>
        </div>
    </div>

{% endblock %}

{% block table %}

	{% verbatim %}

		<thead>
			<tr>
				<th>NIDN/NIP</th>
				<th>Nama</th>
				<th>Tahun Ajaran</th>
				<th>Semester</th>
				<th>Status</th>
			</tr>
		</thead>

		<tbody>
			<tr ng-if="!vm.data || vm.data.length == 0">
	          <td colspan="5" class="text-center">Tidak ada data yang tersedia</td>
	        </tr>
	        <tr ng-repeat="data in vm.data" class="clickable" ng-attr-tr_id="{{data.id}}" state_name="dosen_pa_detail" widget-tr="">
	          <td ng-bind="data.karyawan.ni || '-'"></td>
	          <td ng-bind="data.karyawan.orang.nama || '-'"></td>
	          <td ng-bind="data.tahun_ajaran.nama || '-'"></td>
	          <td ng-bind="data.semester.nama || '-'"></td>
	          <td ng-bind="data.status || '-'"></td>
	        </tr>
		</tbody>

	{% endverbatim %}
{% endblock %}