.custom-table {
  border-collapse:separate; 
  border-spacing:15px;
  table-layout: fixed;
  width: 100%;
}

.clearfix {
  clear: both;
}

.easy-complete-container {
  width: 100%;
  display: block;
  min-width: 192px;
}

.easy-autocomplete{
  width:100% !important
}

.easy-autocomplete input{
  width: 100%;
}

/*.easy-autocomplete-container {
  z-index: 9999999999999999;
}*/

/*#region Splash */
#splash-page {
    z-index: 99999 !important;
}

#splash-page .bar {
    width: 100%;
}

.page-splash {
    z-index: 99999 !important;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    opacity: .9;
    pointer-events: auto;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
}

.page-splash-message {
    text-align: center;
    margin: 20% auto 0 auto;
    font-size: 400%;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-weight: normal;
    -webkit-text-shadow: 2px 2px #000000;
    text-shadow: 2px 2px #000000;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
    text-transform: uppercase;
    text-decoration: none;
    color: #F58A00;
    padding: 0;
}

.page-splash-message.page-splash-message-subtle {
    margin: 30% auto 0 auto;
    font-size: 200%;
}

.sidebar-wrapper .sidebar-header img{
  height: auto;
}

.mr-20 {
  margin-right: 20px;
}

.required::after {
  content: " *";
  color: red;
}


.invalid {
  outline: 1px solid red;
}

.tracking {
  border: 1px solid #357960;
  margin-bottom: 10px;
  padding: 5px;
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sukses-verifikasi {
  background-color: #357960;
  padding: 5px;
  color: white;
  font-weight: bold;
}


/*tracking*/

.track-title {
  font-size: 1.2rem;
  color: #357960;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.track-container > .track {
  list-style: none;
  counter-reset: my-awesome-counter;
  padding: 0;
}

.track-container > .track > .track-list {
  counter-increment: my-awesome-counter;
  position: relative;
  margin-bottom: 10px;
}


.track-container > .track > .track-list > .track-number {
  color: #dfdfdf;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-left: -15px;
}

.track-container > .track > .track-list > .track-number:before {
  content: counter(my-awesome-counter);
  background: #357960;
  border-radius: 50%;
  padding: 5px 13px;
  font-size: 1rem;
}

.track-container > .track > .track-list > .track-content {
  padding: 10px 25px;
  border: 2px solid #357960;
}

.track-status {
  color: #357960;
  font-weight: bold;
}

.tracking-table {
  margin: 10px;
}

.tracking-table > :not(caption) > *, .tracking-table > :not(caption) > * > * {
  border-color: #357960;
}