{% extends "structure/table.twig" %}

{% block button %}
	<a ui-sref="sequance_form({dataId: null})" class="btn btn-success btn-sm">
		<i class="fa fa-plus"></i> Tambah
	</a>
{% endblock %}

{% block table %}

	{% verbatim %}

		<thead>
			<tr>
				<th>Nama</th>
				<th>Kode</th>
				<th>Nomor</th>
			</tr>
		</thead>

		<tbody>
			<tr ng-if="!vm.data || vm.data.length == 0">
	          <td colspan="5" class="text-center">Tidak ada data yang tersedia</td>
	        </tr>
	        <tr ng-repeat="data in vm.data" class="clickable" table-row="{{data.id}}" model="{{vm.model}}" ng-attr-tr_id="{{data.id}}" state_name="sequance_detail" widget-tr="">
	          <td ng-bind="data.nama || '-'"></td>
	          <td ng-bind="data.kode || '-'"></td>
	          <td ng-bind="data.nomor || '-'"></td>
	        </tr>
		</tbody>

	{% endverbatim %}
{% endblock %}