{% extends "structure/detail.twig" %}

{% block button %}

  <a class="btn btn-sm btn-success" ui-sref="konfigurasi_form"><i class="fa fa-edit"></i> Edit</a>

{% endblock %}

{% block content %}

	<div class="row">
		<div class="col-md-6">
			<table class="custom-table">
				{% include 'components/preview-text.twig' with {'name': 'kode_perusahaan', 'label': 'Kode Perusahaan'} %}
				{% include 'components/preview-text.twig' with {'name': 'base_url', 'label': 'Base URL'} %}
			</table>
		</div>
		<div class="col-md-6">
			<table class="custom-table">
				{% include 'components/preview-text.twig' with {'name': 'nohp_panitia', 'label': 'No. HP Panitia'} %}
				{% include 'components/preview-text.twig' with {'name': 'nama_bank', 'label': 'Nama Bank (Atas Nama)'} %}
			</table>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col-md-6">
			<h5>Akademik</h5>
			<table class="custom-table">
				{% include 'components/checkbox.twig' with {'name': 'registrasi', 'label': 'Buka Pendaftaran', 'disabled': true} %}
				{% include 'components/preview-text.twig' with {'name': 'semester.nama', 'label': 'Semester Awal'} %}
				{# {% include 'components/preview-text.twig' with {'name': 'tahun_ajaran.nama', 'label': 'Tahun Ajaran Awal'} %} #}
				{% include 'components/preview-text.twig' with {'name': 'sequance_nim', 'label': 'Sequance NIM'} %}
			</table>
		</div>

		<div class="col-md-6">
			<h5>SMTP Mail</h5>
			<table class="custom-table">
				{% include 'components/checkbox.twig' with {'name': 'status_smtp', 'label': 'Aktif', 'disabled': true} %}
				{% include 'components/preview-text.twig' with {'name': 'host', 'label': 'Host'} %}
				{% include 'components/preview-text.twig' with {'name': 'port', 'label': 'Port'} %}
				{% include 'components/preview-text.twig' with {'name': 'username', 'label': 'Username'} %}
				{% include 'components/preview-text.twig' with {'name': 'password', 'label': 'Password'} %}
			</table>
		</div>
	</div>

{% endblock %}
