{% extends "structure/table.twig" %}

{% block button %}
	<a ui-sref="pendaftaran_form({dataId: null})" class="btn btn-success btn-sm">
		<i class="fa fa-plus"></i> Tambah
	</a>
{% endblock %}

{% block table %}

	{% verbatim %}

		<thead>
			<tr>
				<th>Tahun Ajaran</th>
				<th>Tanggal Mulai</th>
				<th>Tanggal Berakhir</th>
				<th>Status</th>
			</tr>
		</thead>

		<tbody>
			<tr ng-if="!vm.data || vm.data.length == 0">
	          <td colspan="5" class="text-center">Tidak ada data yang tersedia</td>
	        </tr>
	        <tr ng-repeat="data in vm.data" class="clickable" ng-attr-tr_id="{{data.id}}" state_name="pendaftaran_detail" widget-tr="">
	          <td ng-bind="data.tahun_ajaran.nama || '-'"></td>
	          <td ng-bind="data.tanggal_mulai || '-'"></td>
	          <td ng-bind="data.tanggal_berakhir || '-'"></td>
	          <td ng-bind="data.status_label || '-'"></td>
	        </tr>
		</tbody>

	{% endverbatim %}
{% endblock %}