<section id="dashboard-view" class="mainbar">
  <section class="matter">

    <div class="error-page container">
        <div class="col-md-8 col-12 offset-md-2">
            <div class="text-center">
                <img class="img-error img-fluid" src="/template/images/samples/error-404.jpg" alt="Tidak Ditemukan">
                <h1 class="error-title">TIDAK DITEMUKAN</h1>
                <p class='fs-5 text-gray-600'>Halaman yang Anda cari tidak ditemukan.</p>
            </div>
        </div>
    </div>

  </section>
</section>