{% extends 'structure/detail.twig' %}

{% block button %}

  <a class="btn btn-sm btn-success" ui-sref="agama_form({dataId: vm.data.id})"><i class="fa fa-edit"></i> Edit</a>
  <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> Delete</button>

{% endblock %}

{% block content %}

	<div class="col-md-6">
      <table class="custom-table">
        {% include 'components/preview-text.twig' with {'name': 'nama', 'label': 'Nama'} %}
      </table>
    </div>

{% endblock %}