{% extends "structure/form.twig" %}


{% block content %}

	<div class="col-md-6">
      <table class="custom-table">
        <tr>
          <td>
            <div class="text-muted font-semibold me-3">Nama</div>
          </td>
          <td>
            <input type="text" ng-model="vm.data.nama" class="form-control form-control-sm">
          </td>
        </tr>
      </table>
    </div>

{% endblock %}