{% extends "structure/form.twig" %}


{% block content %}

	<div class="col-md-6">
      <table class="custom-table">
        {% include 'components/input.twig' with {'name': 'nama', 'label': 'Nama', 'required': true} %}
      </table>
    </div>

{% endblock %}