.wizard > .steps .current a, 
.wizard > .steps .current a:hover, 
.wizard > .steps .current a:active {
	background-color: #00a85a;
}

.wizard > .steps .done a, 
.wizard > .steps .done a:hover, 
.wizard > .steps .done a:active {
	background-color: #5be3a4;
}

.wizard > .actions a, 
.wizard > .actions a:hover, 
.wizard > .actions a:active {
	background-color: #00a85a;
}

.wizard > .steps a, 
.wizard > .steps a:hover, 
.wizard > .steps a:active {
	padding: 0.5em 1em;
}

.wizard > .steps > ul > li {
	width: 20%;
}

.wizard > .content {
	background-color: #00a85a;
	color: white;
	display: flex;
	justify-content: center;
}

.pembayaran-container ul li {
	list-style: none;
	padding: 1em;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
	background: white;
	color: black;
	margin-bottom: 10px;
	border-radius: 10px;
}

.invalid {
	outline: 1px solid red;
}


.numbering {
	list-style: decimal;
}


.box-header {
	border: solid #00a85a;
	background-color: #00a85a;
	color: white;
	padding:  3px;
	text-align: center;
	font-weight: bold;
}

.box-content {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
}

.box-content div {
	border: solid #00a85a;
	padding: 3px;
	text-align: center;
	margin-bottom: 5px;
	width: 100%;
}

.box-arrow {
	display: flex;
	border: none !important;
	flex-direction: column;
	align-items: center;
}

.box-arrow::before {
	content: "";
	width: 2.5px;
	height: 5px;
	background-color: #00a85a;
}

.box-arrow::after {
	content: "";
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #00a85a;
	font-size: 0;
	line-height: 0;
}

.alur {
	font-size: 10px;
}

.box-spacing {
	margin: 20px;
}

.persyaratan-container {
	display: flex;
	flex-wrap: wrap;
	padding: 0px 10px;
}

.persyaratan {
	border: 1px solid #00a85a;
}

.btn-pendaftaran {
	font-size: 30px;
	border: 1px solid #00a85a;
	padding: 10px 20px;
	cursor: pointer;
	background-color: white;
	text-decoration: none;
	color: black;
}

.btn-pendaftaran:hover {
	background-color: #00a85a;
	text-decoration: none;
	color: white;
}