/*remove outline*/
textarea:focus, input:focus{
    outline: none !important;
}
/*chrome*/
*:focus {
    outline: none !important;
}
/*bootstrap*/
.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-width: 3px !important;
}

.wizard > .steps a {
	border-radius: 0 !important;
	background-color: #fdfdfd !important;
	border-bottom: 0.5px solid #357960;
}

.wizard > .steps .current a, 
.wizard > .steps .current a:hover, 
.wizard > .steps .current a:active {
	background-color: #fdfdfd;
	color: #357960;
	border-bottom: 5px solid #357960;
}

.wizard > .steps .done a, 
.wizard > .steps .done a:hover, 
.wizard > .steps .done a:active {
	background-color: #357960 !important;
}

.wizard > .actions a, 
.wizard > .actions a:hover, 
.wizard > .actions a:active {
	background-color: #357960;
}

.wizard > .actions ul {
	margin: 15px;
}

.wizard > .steps a, 
.wizard > .steps a:hover, 
.wizard > .steps a:active {
	padding: 0.5em 1em;
}

.wizard > .steps > ul > li {
	width: 20%;
}

.wizard > .content {
	background-color: #fdfdfd;
	color: #101010;
	display: flex;
	justify-content: center;
}

.wizard > .content > .body {
  position: relative;
}

.pembayaran-container ul li {
	list-style: none;
	padding: 1em;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
	background: white;
	color: black;
	margin-bottom: 10px;
	border-radius: 10px;
}

.invalid {
	outline: 1px solid red;
}


.numbering {
	list-style: decimal;
}


.title-register {
	background-color: #357960;
	padding: 30px;
	font-size: 1.5rem;
	font-weight: bold;
	color: #E9EEE7;
}

.form-control {
	border: 0 !important;
	border-radius: 0 !important;
	outline: none !important;
	border-bottom: 2px solid #357960 !important;
}

.invalid, .error-validation {
	border-bottom: 2px solid red !important;
}

.error-text {
	color: red;
	font-size: 12px;
	padding-bottom: 5px;
}

label .note {
	color: #357960;
	font-size: 0.7rem;
}