{% extends "structure/detail.twig" %}

{% block button %}

  <a class="btn btn-sm btn-success" ui-sref="dosen_pjmk_form({dataId: vm.data.id})"><i class="fa fa-edit"></i> Edit</a>
  <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> Delete</button>

{% endblock %}

{% block content %}

	<div class="row">
		<div class="col-md-6">
			<table class="custom-table">
				{% include 'components/preview-text.twig' with {'name': 'karyawan.orang.nama', 'label': 'Dosen'} %}
			</table>
		</div>
		
		<div class="col-md-6">
			<table class="custom-table">
					{% include 'components/preview-text.twig' with {'name': 'tahun_ajaran.nama', 'label': 'Tahun Ajaran'} %}
					{% include 'components/preview-text.twig' with {'name': 'semester.nama', 'label': 'Semester'} %}
			</table>
		</div>
	</div>

		<ul class="nav nav-tabs mt-5">
			<li class="nav-item">
            	<a class="nav-link active" data-bs-toggle="list" href="#mahasiswa">Mata Kuliah Diampu</a>
            </li>
        </ul>

        <div class="tab-content text-justify">
        	<div class="tab-pane fade show active" id="mahasiswa">

        		<div class="row mt-3">
        			<div class="col-12">
        				<button class="btn btn-primary" ng-click="vm.tambahMatakuliah()">Tambah Mata Kuliah Yang Diampu</button>
        			</div>
        		</div>

        		<div class="row mt-3">
        			<div class="col-md-12">

	        			<table class="table">

							<thead>
								<th>Kode</th>
								<th>Nama</th>
								<th>SKS</th>
								<th></th>
							</thead>

							<tbody>
								<tr ng-repeat="col in vm.data.mata_kuliah_diampuh" ng-if="vm.data.mata_kuliah_diampuh && vm.data.mata_kuliah_diampuh.length != 0">
									<td ng-bind="col.mata_kuliah.kode || '-'"></td>
									<td ng-bind="col.mata_kuliah.nama || '-'"></td>
									<td ng-bind="col.mata_kuliah.sks || '-'"></td>
									<td>
										{% verbatim %}
											<button class="btn btn-primary" ng-click="vm.isiNilai(col)" ng-if="col.terkonfigurasi">
												<i class="fa fa-list"></i> Isi Nilai
											</button>
											<button class="btn btn-primary" ng-click="vm.konfigureNilai(col)" ng-if="!col.terkonfigurasi">
												<i class="fa fa-cog"></i> Konfigurasi Nilai
											</button>
											<button class="btn btn-primary" ng-click="vm.konfigureNilai(col)" ng-if="col.terkonfigurasi">
												<i class="fa fa-eye"></i> Konfigurasi Nilai
											</button>
										{% endverbatim %}
									</td>
								</tr>
								<tr ng-if="!vm.data.mata_kuliah_diampuh || vm.data.mata_kuliah_diampuh.length == 0">
									<td  class="text-center" colspan="5">Belum ada data</td>
								</tr>
							</tbody>

						</table>
	        		
	        		</div>
        		</div>
        	</div>
        </div>

{% endblock %}
