<div class="footer">
	<div class="copy-right">
		Copyright © {{ 'now' | date('Y') }} AKPER Serukam.
	</div>

	<div class="akreditasi">
		<div class="img-group">
			<a href="https://lamptkes.org" target="_blank">
				<img src="/public/assets/images/lamptkes.png">
			</a>
			<a href="https://banpt.or.id" target="_blank">
				<img src="/public/assets/images/banpt.png">
			</a>				
		</div>
	</div>
</div>