{% extends "pages/template/detail.twig" %}


{% block detail %}

	<div class="row">
			<div class="col-md-6">
				<table class="custom-table">
					{% include 'pages/components/preview-text.twig' with {'name': 'karyawan.orang.nama', 'label': 'Dosen'} %}
				</table>
			</div>
			
			<div class="col-md-6">
				<table class="custom-table">
						{% include 'pages/components/preview-text.twig' with {'name': 'tahun_ajaran.nama', 'label': 'Tahun Ajaran'} %}
						{% include 'pages/components/preview-text.twig' with {'name': 'semester.nama', 'label': 'Semester'} %}
				</table>
			</div>
		</div>

		<ul class="nav nav-tabs mt-5">
			<li class="nav-item">
            	<a class="nav-link active" data-bs-toggle="list" href="#mahasiswa">Mahasiswa Bimbingan</a>
            </li>
        </ul>

        <div class="tab-content text-justify">
        	<div class="tab-pane fade show active" id="mahasiswa">

        		<div class="row mt-3">
        			<div class="col-12">
        				<button class="btn btn-primary" btn-show-form="tambah_mahasiswa">Tambah Mahasiwa</button>
        			</div>
        		</div>

        		<div class="row mt-3">
        			<div class="col-md-12">
	        			<table class="table">

							<thead>
								<th>NIM</th>
								<th>Nama</th>
								<th>Semester</th>
								<th>Keterangan</th>
								<th></th>
							</thead>

							<tbody>
								<tr ng-repeat="col in vm.data.mahasiswa_bimbingan" ng-if="vm.data.mahasiswa_bimbingan && vm.data.mahasiswa_bimbingan.length != 0">
									<td ng-bind="col.mahasiswa.nim || '-'"></td>
									<td ng-bind="col.mahasiswa.orang.nama || '-'"></td>
									<td ng-bind="col.mahasiswa.semester.nama || '-'"></td>
									<td ng-bind="col.mahasiswa.sudah_pengajuan ? 'Sudah KRS' : 'Belum KRS' || '-'"></td>
									<td>
										{% verbatim %}
											<button class="btn btn-primary" btn-show-data="{{ col.mahasiswa_id }}" data="col" table="pengajuan_ks" view-name="proses_pengajuan" ng-if="col.mahasiswa.pengajuan">Proses Pengajuan</button>
										{% endverbatim %}
									</td>
								</tr>
								<tr ng-if="!vm.data.mahasiswa_bimbingan || vm.data.mahasiswa_bimbingan.length == 0">
									<td  class="text-center" colspan="5">Belum ada data</td>
								</tr>
							</tbody>

						</table>
	        		</div>
        		</div>
        	</div>
        </div>

{% endblock %}
