{% extends 'structure/form.twig' %}


{% block content %}
		
	<div class="row">
		<div class="col-md-6">
			<table class="custom-table">
				{% include 'components/input.twig' with {'name': 'kode', 'label': 'Kode'} %}
				{% include 'components/input.twig' with {'name': 'nama', 'label': 'Nama'} %}
				{% include 'components/input.twig' with {'name': 'nominal', 'label': 'Nominal'} %}
			</table>
		</div>
	</div>

{% endblock %}