{% extends 'structure/form.twig' %}


{% block content %}
		
	<div class="row">
		<div class="col-md-6">
			<table class="custom-table">
				{# {% include 'components/input.twig' with {'name': 'kode', 'label': 'Kode'} %} #}
				{% include 'components/input.twig' with {'name': 'nama', 'label': 'Nama', 'required': true} %}
				{% include 'components/input.twig' with {'name': 'nominal', 'label': 'Nominal', 'required': true} %}
			</table>
		</div>
	</div>

{% endblock %}