{% extends "structure/form.twig" %}


{% block content %}
    
    <div class="row">
      <div class="col-md-6">
        <table class="custom-table" ng-if="(vm.data.status == 'baru' || vm.data.status == 'pending') || !vm.data.status">
          {% include 'components/input.twig' with {'name': 'orang.nama', 'label': 'Nama', 'required': true} %}
        </table>
        <table class="custom-table" ng-if="vm.data.status != 'baru' && vm.data.status != 'pending' && vm.data.status">
          {% include 'components/preview-text.twig' with {'name': 'orang.nama', 'label': 'Nama'} %}
        </table>
      </div>
      
      <div class="col-md-6">
        <table class="custom-table">
          {% include 'components/date-picker.twig' with {'name': 'tanggal_pendaftaran', 'label': 'Tanggal Pendfataran', 'required': true} %}
        </table>
      </div>
    </div>

    <ul class="nav nav-tabs mt-5">
      <li class="nav-item">
              <a class="nav-link active" data-bs-toggle="list" href="#pribadi">Data Pribadi</a>
            </li>
      <li class="nav-item">
              <a class="nav-link" data-bs-toggle="list" href="#orangtua">Orang Tua</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="list" href="#pendidikan">Pendidikan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="list" href="#persetujuan">Persetujuan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="list" href="#test">Tanggal Test</a>
            </li>
        </ul>

        <div class="tab-content text-justify">
          <div class="tab-pane fade show active" id="pribadi">
            <div class="row mt-3">
              <div class="col-md-6">
                <table class="custom-table">
            {% include 'components/input.twig' with {'name': 'orang.nik', 'label': 'NIK', 'required': true} %}
            {% include 'components/input.twig' with {'name': 'orang.tempat_lahir', 'label': 'Tempat Lahir', 'required': true} %}
            {% include 'components/date-picker.twig' with {'name': 'orang.tanggal_lahir', 'label': 'Tanggal Lahir', 'required': true} %}
            {% include 'components/radio.twig' with {'name': 'orang.jenis_kelamin', 'label': 'Jenis Kelamin', 'option': 'orang.option.jenis_kelamin', 'required': true} %}
            {% include 'components/select.twig' with {'name': 'orang.agama_id', 'label': 'Agama', 'option': 'orang.selection.agama', 'label_selection': 'nama', 'required': true} %}
                </table>
              </div>

              <div class="col-md-6">
                <table class="custom-table">
              {% include 'components/input.twig' with {'name': 'orang.alamat', 'label': 'Alamat', 'required': true} %}
              {% include 'components/input.twig' with {'name': 'orang.rt_rw', 'label': 'Rt / Rw', 'required': true} %}
              {% include 'components/input.twig' with {'name': 'orang.kel_desa', 'label': 'Kel / Desa', 'required': true} %}
              {% include 'components/input.twig' with {'name': 'orang.kab_kota', 'label': 'Kab / Kota', 'required': true} %}
              {% include 'components/input.twig' with {'name': 'orang.provinsi', 'label': 'Provinsi', 'required': true} %}
                </table>
              </div>

              <div class="col-md-6">
                <table class="custom-table">
              {% include 'components/input.twig' with {'name': 'orang.email', 'label': 'Email', 'required': true} %}
              {% include 'components/input.twig' with {'name': 'orang.no_hp', 'label': 'No. HP', 'required': true} %}
                </table>
              </div>
            </div>
          </div>
          <div class="tab-pane fade show" id="orangtua">
            <div class="row mt-3">
              <div class="col-md-6">
                <table class="custom-table">
              {% include 'components/input.twig' with {'name': 'orang.nama_ayah', 'label': 'Nama Ayah'} %}
              {% include 'components/input.twig' with {'name': 'orang.pekerjaan_ayah', 'label': 'Pekerjaan Ayah'} %}
              {% include 'components/input-number.twig' with {'name': 'orang.penghasilan_ortu', 'label': 'Penghasilan Orang Tua'} %}
                </table>
              </div>

              <div class="col-md-6">
                <table class="custom-table">
              {% include 'components/input.twig' with {'name': 'orang.nama_ibu', 'label': 'Nama Ibu'} %}
              {% include 'components/input.twig' with {'name': 'orang.pekerjaan_ibu', 'label': 'Pekerjaan Ibu'} %}
                </table>
              </div>
            </div>
          </div>
          <div class="tab-pane fade show" id="pendidikan">
            <div class="row mt-3">
              <div class="col-md-6">
                <table class="custom-table">
              {% include 'components/input.twig' with {'name': 'orang.asal_sekolah', 'label': 'Asal Sekolah'} %}
              {% include 'components/input.twig' with {'name': 'orang.jurusan', 'label': 'Jurusan'} %}
                </table>
              </div>

              <div class="col-md-6">
                <table class="custom-table">
              {% include 'components/input.twig' with {'name': 'orang.tinggi_badan', 'label': 'Tinggi Badan'} %}
              {% include 'components/input.twig' with {'name': 'orang.berat_badan', 'label': 'Berat Badan'} %}
                </table>
              </div>

              <div class="col-md-6">
                <table class="custom-table">
              {% include 'components/input-file.twig' with {'name': 'orang.pasfoto', 'label': 'Pasfoto', 'required': true} %}
              {% include 'components/input-file.twig' with {'name': 'orang.ijazah', 'label': 'Ijazah/SKL', 'required': true} %}
              {% include 'components/input-file.twig' with {'name': 'orang.ktp', 'label': 'KTP', 'required': true} %}
              {% include 'components/input-file.twig' with {'name': 'orang.surket_menikah', 'label': 'Surket. Belum Menikah'} %}
                </table>
              </div>

              <div class="col-md-6">
                <table class="custom-table">
                  {% include 'components/input-file.twig' with {'name': 'orang.akte_lahir', 'label': 'Akte Lahir', 'required': true} %}
                  {% include 'components/input-file.twig' with {'name': 'orang.kartu_keluarga', 'label': 'Kartu Keluarga', 'required': true} %}
                  {% include 'components/input-file.twig' with {'name': 'orang.kartu_vaksin', 'label': 'Kartu Vaksin', 'required': true} %}
                </table>
              </div>
            </div>
          </div>
          <div class="tab-pane fade show" id="persetujuan">
            <div class="row mt-3">
              <div class="col-md-12">
                <table class="custom-table">
                  {% 
                    include 'components/checkbox.twig' 
                    with {
                      'name': 'pernyataan',
                      'label': 'Dengan ini saya menyatakan bahwa data yang saya isi adalah benar dan sesuai dengan dokumen terkait dan saya memberikan data atas persetujuan saya pribadi',
                      'required': true
                    }
                  %}
                </table>
              </div>
            </div>
          </div>
          <div class="tab-pane fade show" id="test">
            <div class="row mt-3">
              <div class="col-md-6">
                <table class="custom-table">
                  {% include 'components/date-picker.twig' with {'name': 'test_tertulis', 'label': 'Test Tertulis Mulai'} %}
                  {% include 'components/date-picker.twig' with {'name': 'test_tertulis_end', 'label': 'Test Tertulis Akhir'} %}
                </table>
              </div>
              <div class="col-md-6">
                <table class="custom-table">
                  {% include 'components/date-picker.twig' with {'name': 'test_kesehatan', 'label': 'Test Kesehatan Mulai'} %}
                  {% include 'components/date-picker.twig' with {'name': 'test_kesehatan_end', 'label': 'Test Kesehatan Akhir'} %}
                </table>
              </div>
              <div class="col-md-6">
                <table class="custom-table">
                  {% include 'components/date-picker.twig' with {'name': 'test_wawancara', 'label': 'Test Wawancara Mulai'} %}
                  {% include 'components/date-picker.twig' with {'name': 'test_wawancara_end', 'label': 'Test Wawancara Akhir'} %}
                </table>
              </div>
              <div class="col-md-6">
                <table class="custom-table">
                  {% include 'components/date-picker.twig' with {'name': 'daftar_ulang', 'label': 'Daftar Ulang Mulai'} %}
                  {% include 'components/date-picker.twig' with {'name': 'daftar_ulang_end', 'label': 'Daftar Ulang Akhir'} %}
                </table>
              </div>
            </div>
          </div>
        </div>

{% endblock %}