{% extends "structure/table.twig" %}

{% block button %}
	<a ui-sref="pmb_form({dataId: null})" class="btn btn-success btn-sm">
		<i class="fa fa-plus"></i> Tambah
	</a>
{% endblock %}

{% block search %}

	{% include 'components/search.twig' %}

{% endblock %}

{% block table %}
	<thead>
		<tr>
			<th>Nomor Peserta</th>
			<th>NIK</th>
			<th>Nama</th>
			<th>Status</th>
			{# <th></th> #}
			<th></th>
		</tr>
	</thead>

	<tbody>
		<tr ng-if="!vm.data || vm.data.length == 0">
          <td colspan="5" class="text-center">Tidak ada data yang tersedia</td>
        </tr>
        <tr ng-repeat="data in vm.data">
          <td ng-bind="data.nomor_peserta || '-'"></td>
          <td ng-bind="data.orang.nik || '-'"></td>
          <td ng-bind="data.orang.nama || '-'"></td>
          <td ng-bind="data.status_label || '-'"></td>
          {# <td>
          	<button class="btn btn-sm btn-primary" ng-click="vm.updStatus('tolak')" ng-if="data.status == 'baru'">Tolak</button>
          	<button class="btn btn-sm btn-primary" ng-click="vm.updStatus('pending')" ng-if="data.status == 'baru'">Pending</button>
          	<button class="btn btn-sm btn-primary" ng-click="vm.updStatus('terverifikasi')" ng-if="data.status == 'baru' || data.status == 'pending'">Verifikasi</button>
			<button class="btn btn-sm btn-primary" ng-click="vm.updStatus('test_gagal')" ng-if="data.status == 'terverifikasi'">Gagal Test</button>
			<button class="btn btn-sm btn-primary" ng-click="vm.updStatus('test_lulus')" ng-if="data.status == 'terverifikasi'">Lulus Test</button>
			<button class="btn btn-sm btn-primary" ng-click="vm.updStatus('kesehatan_gagal')" ng-if="data.status == 'test_lulus'">Gagal Kesehatan</button>
			<button class="btn btn-sm btn-primary" ng-click="vm.updStatus('kesehatan_lulus')" ng-if="data.status == 'test_lulus'">Lulus Kesehatan</button>
			<button class="btn btn-sm btn-primary" ng-click="vm.updStatus('wawancara_gagal')" ng-if="data.status == 'kesehatan_lulus'">Gagal Wawancara</button>
			<button class="btn btn-sm btn-primary" ng-click="vm.updStatus('wawancara_lulus')" ng-if="data.status == 'kesehatan_lulus'">Lulus Wawancara</button>          	
          </td> #}
          <td>
          	{% verbatim %}
          	    <button class="btn btn-sm" ng-attr-tr_id="{{data.id}}" state_name="pmb_detail" widget-tr="">Proses</button>
          	{% endverbatim %}
          </td>
        </tr>
	</tbody>
{% endblock %}