<tr>
	<td>
		<div class="text-muted font-semibold me-3 {{ required ? 'required' : '' }}">{{ label }}</div>
	</td>
	<td>
		<div widget-input-number="" ng-model="vm.data.{{ name }}" {{ required ? 'required' : '' }}></div>
	</td>
</tr>
