<tr>
	<td>
		<div class="text-muted font-semibold me-3 {{ required ? 'required' : '' }}">{{ label }}</div>
	</td>
	<td>
		<input type="text" ng-model="vm.data.{{ name }}" class="form-control form-control-sm" {{ required ? 'required' : '' }}>
	</td>
</tr>
