<tr>
	<td>
		<div class="text-muted font-semibold me-3">{{ label }}</div>
	</td>
	<td>
		<div class="font-extrabold truncate-text">
			<a 
				href="javascript:void(0)" 
				widget-preview="vm.data.{{ name }}" 
				ng-bind="vm.data.{{ name }}.filename || '-'"></a>
		</div>
	</td>
</tr>
