<div class="form-group position-relative has-icon-right">
    <input type="text" class="form-control" ng-model="vm.searchData" ng-model-options="{debounce: 500}">
    <div class="form-control-icon" ng-click="vm.search()">
        <i class="fa fa-search"></i>
    </div>
</div>