{% extends "pages/template/detail.twig" %}


{% block detail %}

	<table class="custom-table">
		{% include 'pages/components/preview-text.twig' with {'name': 'nama', 'label': 'Nama'} %}
		{% include 'pages/components/preview-text.twig' with {'name': 'kode', 'label': 'Kode'} %}
		{% include 'pages/components/preview-text.twig' with {'name': 'nomor', 'label': 'Nomor'} %}
	</table>

{% endblock %}
