{% extends "root/base.twig" %}

{% block title %}Register{% endblock %}


{% block content %}

	<div class="col-12 mb-3">
		<div class="very-small">
			Jika terdapat kendala pada tahap registrasi, dapat menghubungi panitia via WA : <a href="http://wa.me/{{ konfigurasi.nohp_panitia }}">http://wa.me/{{ konfigurasi.nohp_panitia }}</a>
		</div>
	</div>

	<div class="col-md-9 flex-center">
		<table class="syarat-register-table">
			<thead>
				<tr>
					<th>PERSYARATAN PESERTA</th>
					<th>PERSYARATAN ADMINISTRASI</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>WNI/WNA</td>
					<td>Pas Foto warna ukuran 4x6 = 5 lembar</td>
				</tr>
				<tr>
					<td>Lulus SMA/Sederajat</td>
					<td rowspan="2">
						Fotocopy Ijazah dilegalisir / <br>
						Surat Tanda Lulus = 2 lembar
					</td>
				</tr>
				<tr>
					<td>Usia Maksimal 35 Tahun</td>
				</tr>
				<tr>
					<td>Tinggi Badan: Pria:153cm, Wanita:143cm</td>
					<td>SKHU/Surat keterangan sudah mengikuti ujian</td>
				</tr>
				<tr>
					<td>Belum Menikah</td>
					<td rowspan="2">
						Surat Keterangan Belum Menikah  <br> 
						dari kepala desa / gembala sidang <br> 
						setempat bagi yang beragama Kristen
					</td>
				</tr>
				<tr>
					<td>Berbadan sehat, Tidak tuna fisik</td>
				</tr>
				<tr>
					<td>Tidak buta warna total, Bebas Narkoba</td>
					<td>Fotocopy Akta Kelahiran = 1 lembar</td>
				</tr>
				<tr>
					<td>Tidak ada masalah gangguan pendengaran</td>
					<td>Fotocopy KTP = 1 lembar</td>
				</tr>
				<tr>
					<td>Biaya Pendaftaran: Rp.300.000</td>
					<td>Fotocopy KK = 1 lembar</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="alur col-md-3">
		<div class="box-header">
			ALUR PENDAFTARAN SIPENMARU
		</div>
		<div class="box-content">
			<div>ISI FORMULIR PENDAFTARAN</div>
			<div class="box-arrow"></div>
			<div>BAYAR BIAYA PENDAFTARAN</div>
			<div class="box-arrow"></div>
			<div>SELEKSI ADMINISTRASI</div>
			<div class="box-arrow"></div>
			<div>TES UJI TULIS</div>
			<div class="box-arrow"></div>
			<div>TES KESEHATAN</div>
			<div class="box-arrow"></div>
			<div>TES WAWANCARA</div>
			<div class="box-arrow"></div>
			<div>REGISTRASI KEUANGAN</div>
		</div>
	</div>

{% endblock %}