{% extends "root/base.twig" %}

{% block title %}Register{% endblock %}


{% block content %}

	<div class="col-md-9 flex-center">
		<div class="row persyaratan-container">	
			<div class="col-12">&nbsp;</div>

			<div class="col-md-6 persyaratan">
				<h5>PENDAFTARAN OFFLINE: </h5>
				<ul class="numbering">
					<li>Datang langsung ke kampus Akper Bethesda Serukam (tidak diwakilkan)</li>
					<li>Menggunakan pakaian berkerah dan celana / rok kain & sepatu</li>
					<li>Membawa semua persyaratan administrasi yang diperlukan</li>
				</ul>						
			</div>
			<div class="col-md-6 persyaratan">
				<h5>WAKTU PENDAFTARAN: </h5>
				<p>
					Senin - Jumat (Pukul 8.30 - 16.00)
				</p>
			</div>
		</div>			
	</div>

	<div class="alur col-md-3">
		<div class="box-header">
			ALUR PENDAFTARAN SIPENMARU
		</div>
		<div class="box-content">
			<div>ISI FORMULIR PENDAFTARAN</div>
			<div class="box-arrow"></div>
			<div>BAYAR BIAYA PENDAFTARAN</div>
			<div class="box-arrow"></div>
			<div>SELEKSI ADMINISTRASI</div>
			<div class="box-arrow"></div>
			<div>TES UJI TULIS</div>
			<div class="box-arrow"></div>
			<div>TES KESEHATAN</div>
			<div class="box-arrow"></div>
			<div>TES WAWANCARA</div>
			<div class="box-arrow"></div>
			<div>REGISTRASI KEUANGAN</div>
		</div>
	</div>

{% endblock %}