{% extends "root/base.twig" %}

{% block title %}Register Berhasil{% endblock %}


{% block content %}

	<div class="shadow p-3 bg-light" style="margin-top: 50px;">
		<center><img src="/public/assets/images/icon-success.png" class="w-25"></center>
		<h4 class="text-center mb-3">Registrasi Berhasil</h4>
		<h5 class="text-center">
			Selamat, akun anda sudah terdaftar, silahkan cek email / spam untuk user ID dan Password anda.
		</h5>
	</div>

{% endblock %}