{% extends "structure/detail.twig" %}

{% block button %}

  <a class="btn btn-sm btn-success" ui-sref="tahun_ajaran_form({dataId: vm.data.id})"><i class="fa fa-edit"></i> Edit</a>
  <!-- <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> Delete</button> -->

  {# {% include 'widget/nextprev.twig' %} #}
  <div class="float-end">
  	<button class="btn btn-primary" ng-click="vm.gantiSemester()">Ganti Semester</button>
  </div>
{% endblock %}

{% block content %}

	<div class="row">
		
		<div class="col-md-6">
			<table class="custom-table">
				{% include 'components/preview-text.twig' with {'name': 'nama', 'label': 'Nama'} %}
				{% include 'components/preview-text.twig' with {'name': 'tahun', 'label': 'Tahun'} %}
				{# {% include 'components/preview-text.twig' with {'name': 'nomor', 'label': 'Nomor'} %} #}
			</table>
		</div>
		
		<div class="col-md-6">
			<h5>Biaya Pendaftaran</h5>
			<table class="custom-table">
				{% include 'components/preview-number.twig' with {'name': 'biaya_pendaftaran.biaya_lunas', 'label': 'Biaya Lunas'} %}
				{% include 'components/preview-number.twig' with {'name': 'biaya_pendaftaran.total_biaya', 'label': 'Total Biaya'} %}
			</table>
		</div>

	</div>

	<ul class="nav nav-tabs mt-5">
		<li class="nav-item">
    	<a class="nav-link active" data-bs-toggle="list" href="#semester">Pembiayaan Semester</a>
    </li>
		<li class="nav-item">
    	<a class="nav-link" data-bs-toggle="list" href="#lainnya">Pembiayaan Lainnya</a>
    </li>
  </ul>

  <div class="tab-content text-justify">
  	<div class="tab-pane fade show active" id="semester">
  		<div class="row mt-3">
  			<div class="col-md-12">

    			<table class="table">

						<thead>
							<th>Nama</th>
							<th>Biaya Wajib</th>
							<th>Total Biaya</th>
							<th>Semester</th>
							<th></th>
						</thead>

						<tbody>
							<tr ng-repeat="col in vm.data.biaya_semester" ng-if="vm.data.biaya_semester && vm.data.biaya_semester.length != 0">
								<td ng-bind="col.nama || '-'"></td>
								<td ng-bind="col.semester.nama || '-'"></td>
								<td>
									{% verbatim %}
									    <span widget-number="{{ col.biaya_lunas || 0 }}"></span>
									{% endverbatim %}
								</td>
								<td>
									{% verbatim %}
									    <span widget-number="{{ col.total_biaya || 0 }}"></span>
									{% endverbatim %}
								</td>
								<td>
									<button class="btn btn-sm btn-primary" ng-click="vm.buatTagihan(col)">Buat Tagihan</button>
								</td>
							</tr>
							<tr ng-if="!vm.data.biaya_semester || vm.data.biaya_semester.length == 0">
								<td  class="text-center" colspan="5">Belum ada data</td>
							</tr>
						</tbody>

					</table>
    			<small>Total data: <b ng-bind="vm.data.biaya_semester.length || 0"></b></small>
    		</div>
  		</div>
  	</div>

  	<div class="tab-pane fade" id="lainnya">
  		<div class="row mt-3">
  			<div class="col-md-12">

    			<table class="table">

						<thead>
							<th>Nama</th>
							<th>Biaya Wajib</th>
							<th>Total Biaya</th>
							<th></th>
						</thead>

						<tbody>
							<tr ng-repeat="col in vm.data.biaya_lainnya" ng-if="vm.data.biaya_lainnya && vm.data.biaya_lainnya.length != 0">
								<td ng-bind="col.nama || '-'"></td>
								<td>
									{% verbatim %}
									    <span widget-number="{{ col.biaya_lunas || 0 }}"></span>
									{% endverbatim %}
								</td>
								<td>
									{% verbatim %}
									    <span widget-number="{{ col.total_biaya || 0 }}"></span>
									{% endverbatim %}
								</td>
								<td>
									<button class="btn btn-sm btn-primary" ng-click="vm.pilihMahasiswa(col)">Buat Tagihan</button>
								</td>
							</tr>
							<tr ng-if="!vm.data.biaya_lainnya || vm.data.biaya_lainnya.length == 0">
								<td  class="text-center" colspan="5">Belum ada data</td>
							</tr>
						</tbody>

					</table>
    			<small>Total data: <b ng-bind="vm.data.biaya_lainnya.length || 0"></b></small>
    		</div>
  		</div>
  	</div>
  </div>

{% endblock %}
