{% extends 'pages/template/form.twig' %}


{% block form %}
		
		<div class="col-md-6">
			<table class="custom-table">
				{% include 'pages/components/input.twig' with {'name': 'nama', 'label': 'Nama'} %}
				{% include 'pages/components/input.twig' with {'name': 'tahun', 'label': 'Tahun'} %}
			</table>
		</div>

{% endblock %}