{% extends "structure/table.twig" %}

{% block search %}

	{% include 'components/search.twig' %}

{% endblock %}

{% block table %}
	{% verbatim %}

		<thead>
			<tr>
				<th>Username</th>
				<th>Nama</th>
			</tr>
		</thead>

		<tbody>
			<tr ng-if="!vm.data || vm.data.length == 0">
	          <td colspan="5" class="text-center">Tidak ada data yang tersedia</td>
	        </tr>
	        <tr ng-repeat="data in vm.data" class="clickable" ng-attr-tr_id="{{data.id}}" state_name="user_detail" widget-tr="">
	          <td ng-bind="data.username || '-'"></td>
	          <td ng-bind="data.orang.nama || '-'"></td>
	        </tr>
		</tbody>

	{% endverbatim %}
{% endblock %}