<div class="float-end justify-content-center" widget-next-prev="">
	<button class="btn btn-sm btn-primary mr-3" prev="">
		<i class="fa fa-chevron-left"></i>
	</button>
	<button class="btn btn-sm btn-primary" next="">
		<i class="fa fa-chevron-right"></i>
	</button>
</div>